name: Build
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          repository: WireGuard/wireguard-android
          submodules: true
      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - run: ./gradlew assembleRelease
        working-directory: .
      - uses: actions/upload-artifact@v4
        with:
          name: wireguard-android
          path: app/build/outputs/apk/release/*.apk
